<%layout('layouts/boilerplate')%>

<div id="map" style="width: 100%; height: 400px"></div>
<div>
  <div class="row" style="justify-content: center !important">
    <% for(let camp of camps){%>
    <div class="card col-md-3 m-4 offset-3" style="width: 20rem">
      <img
        class="card-img-top"
        src="<%= camp.image[0].url %>"
        alt="Card image cap"
        style="max-height: 200px"
      />
      <div class="card-body">
        <h5 class="card-title"><%= camp.title %></h5>
        <p class="card-text"><%= camp.description %></p>
        <h5 class="card-title"><%= camp.location %></h5>
        <a href="/campgrounds/<%=camp.id%>" class="btn btn-primary">View</a>
      </div>
    </div>

    <% }%>
  </div>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const campgrounds =  {features :<%- JSON.stringify(camps)%> }
</script>
<script src="/javascripts/clusterMap.js"></script>
